//some random colors
$color_a: #f6f6f6;
$color_b: #e7e6e6;
$color_c: #ececea;

//variables used in components
$background: #efeded;
$windows_color: #e5e1e1;

$nav_height: 50px;
$nav_color: #dbd8d8;
$nav_hover_color: white;


$my_gear_min_width: 270px;
$my_gear_max_width: 550px;

$backpack_list_width: 300px;

$editor_big_width: 660px;

$grid_gap: 8px;
$grid_wrapper_padding: 4px;

$first_threshold: ($my_gear_max_width + $backpack_list_width + $editor_big_width
+ 2 * $grid_wrapper_padding + 2 * $grid_gap);

$second_threshold: ($my_gear_min_width + $editor_big_width
+ $grid_wrapper_padding + $grid_gap);

//reset

//general mixins
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//editor mixins
@mixin editor-add {
  margin: 4px;
  border: none;
  background-color: transparent;
  outline: none;
  color: yellowgreen;
  font-size: .85rem;
  justify-self: flex-start;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@mixin editor-input_and_label {
  padding: 3px;
  border: 1px solid transparent;
}

@mixin editor-input__field {
  @include editor-input_and_label;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  font-size: 1em;

  &:focus {
    background-color: white;
    border: 1px solid grey;
  }

  &:hover {
    background-color: white;
    cursor: text;
  }
}

@mixin editor-category_grid {
  display: grid;
  align-items: center;
  column-gap: 1px;
  padding: 1px 0;
}

@mixin sort-chosen {
  transform: scale(1.01);
  box-shadow: 4px 4px 4px grey;
}

@mixin sort-handle {
  margin-right: 6px;
  padding: 5px 6px 3px 6px;
  cursor: move;
  border-radius: 6px;
  font-size: 1.15rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: white;
    }
    visibility: hidden;
  }
}

@mixin editor-items {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}


//forms mixins
@mixin form-input {
  font-size: 1.2rem;
  margin: 4px;
  border-radius: 4px;
  outline: none;
  padding: 7px;
  border: 1px solid white;

  &:focus {
    border: 1px solid black;
  }
}

@mixin form-submit {
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 1px solid grey;
  padding: 8px 12px;
  margin: 4px;
  background-color: white;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    transform: translate(0, -1px);
    box-shadow: grey 0 1px;
  }

  &:active {
    transition: all .1s;
    transform: none;
    box-shadow: none;
  }
}

